<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Sesion</title>
    <link rel="stylesheet" href="../css/Formulariox.css">
</head>
<body>
    <center>
    <a href="../INDEX .html"><img src="/img/logo incap.png" alt="Incap" width="20%" height="20%">
    </a>
</center>
</body>
    <div class="contenedor">
        <header>
            <h2>Formulario de Inicio Sesion</h2>
        </header>
        <main>
            <form class="form_register"> 
                <input type="text" placeholder="&#9889; Ingrese usuario" required autofocus>
                <br>
                <input type="password" placeholder="&#9919; Ingrese password" required>
                <br>
                <!-- seccion de contenedor de botones de formulario -->
                <div id="terminos">
                    <input type="checkbox">Mostrar contraseña
                </div>
                <br>
                <div class="btn_accion">
                    <button class="btn_enviar" type="submit">ENVIAR</button>
                    <button class="btn_limpiar" type="reset">CANCELAR</button>
                </div>  
                <p>Tienes cuenta?<a href="./Form_register.html">Registrese</a></p> 
            </form>
        </main>
        <footer>
            &copy;Todos los derechos reservados @STD2024
        </footer>
    </div>
</body>
</html>
