<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Registro</title>
    <link rel="stylesheet" href="../css/Formulariox.css">
</head>
<body>
<center>
    <a href="../INDEX .html"><img src="/img/logo incap.png" alt="Incap" width="20%" height="20%">
    </a>
    </center>
</body>
<body>
    <!-- SECCION DE CREACION DE CONTENEDOR -->
     <div class="contenedor">
        <header>
            <H2>FORMULARIO DE REGISTRO DE ESTUDIANTES</H2> 
        </header>
        <main>
            <form action="" class="form-register">
                <input type="text" placeholder="&#127137; ingrese usuario" required autofocus>
                <br>
                <input type="text" placeholder="&#127137;ingrese nombres y apellidos" required>
                <br>
                <input type="email" placeholder="&#127137; ingrese email" required>
                <br>
                <input type="text" placeholder="&#127137;ingrese telefono"required>
                <br>
                <input type="text" placeholder="&#127137;ingrese contraseña"required>
                <p>Iniciar sección<a href="./FORMULARIO_INICIO_SESION (1).html" > Iniciar seccion</a></p>
            </form>
        </main>
        <footer>
            &copy;Todos los derechos reservados @STD2024
        </footer>
     </div>
</body>
</html>