<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto web</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/logo incap.png" type="image/x-icon">
    <!-- Fontalwesome -->
    <script src="https://kit.fontawesome.com/a1124a3708.js" crossorigin="anonymous"></script>
<!-- seccion de enlace de hoja CSS -->
    <link rel="stylesheet" href="../css/css_main.css">
</head>
<body>
    <div id="grid-container">
        <!-- seccion hader pagina web -->
        <header id="hader">
            <center>
            <a href="../INDEX .html"><img src="/img/logo incap.png" alt="incap" width="10%" height="10%">
            </a>
        </center>
            <h1>ESCUELA DE PROGRAMACIÓN Y DESARROLLO</h1>
        </header>
        <!-- SECCION DE NAV pagina web -->
        <nav id="menu">
            <ul class="menuB" >
                <!-- Primer submenu -->
                <li>
                    <a href="#"> FRONTEND</a>
                    <ul class="submenu">
                        <li><a href="./web_html.html">HTML</a></li>
                        <LI><a href="0">JAVASCRIPT</a></LI>
                    </ul>
                </li>
                <!-- Segundo submenu -->
                <li>
                    <a href="#">BACKEND</a>
                    <ul class="submenu">
                        <li><a href="#">PYTHON</a></li>
                        <Li><a href="#">PHP</a></Li>
                    </ul>
                </li>
                <!-- Tercer submenu -->
                <li>
                    <a href="#">DIPLOMADOS</a>
                    <ul class="submenu"> 
                        <li><a href="#">BBDD MYSQL</a></li>
                        <li><a href="#">C# .NET</a></li>
                    </ul>
                </li>
            </ul>
            <!-- seccion buscador pagina web-->
            <div class="buscarbox">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Buscar aqui...">
            </div>
            <!-- Seccion de icono usuario -->
            <div id="reguser">
                <a href="../templates/FORMULARIO_INICIO_SESION (1).html"><i class="fa-solid fa-circle-user"></i></a>
            </div>
        </nav>
        <!-- Seccion <section> pagina web -->
            <center>
                <section id="main">
                    <figure>
                        <a href="/INDEX .html"><img src="/img/167_Html5_logo_logos-512.webp" alt="HTML" width="250px" height="250px"></a>
                    </figure>
                    <br></br>

                    <p>
                        HTML5 es un estándar que define la estructura, el diseño y el contenido de una página web. Permite incorporar ficheros RDF / OWL (con meta información) para describir relaciones entre los términos utilizados. </p>
                    <figure>
                        <a href="/INDEX .html"><img src="../img/CSS3_logo_and_wordmark.svg.png" alt="css" width="150px" height="150px">
                    </figure>
                    <br><br>
                        <p>"Cascading Style Sheets" (Hojas de Estilo en Cascada), es un lenguaje de diseño gráfico que permite definir la presentación visual de documentos estructurados con HTML o XML, separando el contenido del diseño y facilitando la gestión del aspecto de las páginas web.
                        </p>
                    
                    
                </section>
            </center>
    <!-- seccion de <aside> barra lateral -->
        <center>
        <aside id="sidedar">
            <h1>VIDEOS DE INTERES</h1>
            <br><br>
            <h1>APRENDE PHP: BACKEND</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/XqFR2lqBYPs?si=Ll69g4cCIzbu5rVT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <br><br>
            <h1>LUGAR DE UBICACION</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.6781989759556!2d-74.06657902432383!3d4.651360742081878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a4609cc7c73%3A0xf01feaad917b4463!2sINCAP%20Sede%20Chapinero!5e0!3m2!1ses-419!2sco!4v1741438553084!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </aside>
        </center>
        <!-- seccion de <footer> redes sociales -->
            <footer id="footer">
            <center>
                <div id="redes">
                    <a href="https://web.whatsapp.com/"> 
                        <i class="fa-brands fa-square-whatsapp">
                        </i>
                    </a>
                    <a href="https://www.facebook.com/?locale=es_LA">
                        <i class="fa-brands fa-square-facebook">
                        </i>
                    </a>
                    <a href="https://www.tiktok.com/es/">
                        <i class="fa-brands fa-square-tiktok">
                        </i>
                    </a>
                    <a href="https://x.com/?lang=es">
                        <i class="fa-brands fa-square-x">
                        </i>
                    </a>
                    <a href="https://co.linkedin.com/">
                        <i class="fa-brands fa-square-linkedin">
                        </i>
                    </a>
                    <a href="https://www.instagram.com/">
                        <i class="fa-brands fa-square-instagram">
                        </i>
                    </a>
                </div>
                <p>&copy; Todos los derechos reservados Cristian Villalba @2025</p>
            </center></footer>
    </div>
</body>
</html>
